name: CI

on:
  push:
    branches:
      - main
      - 'features/*'
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true
          deno-version: v2.6.x

      - name: Check formatting
        run: deno fmt --check

      - name: Check lint
        run: deno lint

      - name: Check types
        run: deno task check

      - name: Run tests
        run: deno task test

      - name: Check coverage minimum
        run: deno task coverage:check
